{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Стоимость заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Рестораны</th>
      <th>Комментарий</th>
      <th>Сссылка на админку</th>
    </tr>

    {% for item in order_items %}
      <tr>
        <td>{{ item.order.id }}</td>
        <td>{{ item.order.get_status_display }}</td>
        <td>{{ item.order.get_payment_method_display }} </td>
        <th>{{ item.order.total_price }} руб.</th>
        <td>{{ item.order.full_name }}</td>
        <td>{{ item.order.phonenumber }}</td>
        <td>{{ item.order.address }}</td>
        {% if item.order.restaurant %}
        <td>Готовит {{ item.order.restaurant }}</td>>
        {% else %}
        <td>
        <details>
            <summary>Может быть приготовлен ресторанами</summary>
            <ul>
                {% for restaurant in item.restaurants %}
                    <li>{{ restaurant.name }}</li>
                {% endfor %}
            </ul>
        </details>
        </td>
        {% endif %}
        <td>{{ item.order.comment}}</td>>
        <td><a href="{% url 'admin:foodcartapp_order_change' item.order.id %}?next={{ request.path|urlencode }}">Редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
